nav {
  grid-area: nav;
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 1;

  @media (max-width: $viewport-width-tablet-large) {
    height: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background-color: $color-secondary;
  }

  #menu {
    margin-right: -1.5rem;
    transform: rotate(90deg);

    @media (max-width: $viewport-width-tablet-large) {
      margin-right: 0;
      padding: 1rem;
      transform: rotate(0);
    }

    .menu-item {
      .icon {
        transform: rotate(-90deg);

        @media (max-width: $viewport-width-tablet-large) {
          transform: rotate(0);
        }
      }
    }
  }
}
