#content {
  grid-area: content;
  margin-bottom: 4rem;
  margin-left: 0.5rem;

  @media (max-width: $viewport-width-tablet-small) {
    width: 24rem;
    margin-left: 0;
  }

  @media (max-width: $viewport-width-mobile) {
    width: 100%;
  }

  h1 {
    width: 24rem;
    font-weight: 700;
    font-size: 3.6em;
    margin-bottom: 1rem;

    @media (max-width: $viewport-width-mobile) {
      width: 100%;
    }

    s {
      font-weight: 100;
    }
  }

  p {
    line-height: 1.35;
    margin-bottom: 1rem;
  }
}
