$color-primary: #000000;
$color-secondary: #ffffff;

$viewport-width-tablet-large: 1024px;
$viewport-width-tablet-small: 800px;
$viewport-width-mobile-landscape: 640px;
$viewport-width-mobile: 420px;
