@import "./reset";
@import "./variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 100;
  cursor: default;
  user-select: none;
  color: $color-primary;
  background-color: $color-secondary;
}

.App {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 8rem 1fr 8rem;
  grid-template-rows: 8rem 1fr;
  grid-template-areas: "header . nav" "footer main nav";
  align-items: flex-start;

  @media (max-width: $viewport-width-mobile) {
    grid-template-columns: 8rem 1fr 1fr;
    grid-template-rows: 8.25rem auto;
    grid-template-areas: "header nav footer" "main main main";
  }

  @import "./components/menu_item";
  @import "./components/header";
  @import "./components/nav";
  @import "./components/main";
  @import "./components/footer";
}
